.explicae_banner {
  height: 200px;
  margin-top: 5%;
}

.megasena_banner {
  height: 150px;
  margin-top: 5%;
}

.button-sorteio {
  width: 64px;
}

.tabela-sorteio {
  margin-left: 28.5%;
  margin-right: 32%;
}

.tabela-botoes {
  width: 830px;
}

.button-sorteado {
  background-color: #ff00ff;
  width: 64px;
}

@media (max-width: 479px) {
  .tabela-botoes {
    width: 350px;
  }
}

@media (max-width: 479px) {
  .megasena_banner {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 479px) {
  .explicae_banner {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 479px) {
  .tabela-sorteio {
    width: 50%;
    height: 50%;
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media (max-width: 479px) {
  .button-sorteio {
    max-width: 5%;
  }
}

@media (max-width: 479px) {
  .button-sorteado {
    background-color: #ff00ff;
    max-width: 5%;
  }
}
