.card {
  width: 30%;
  height: 35%;
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 10px;
}

.info {
  padding-top: 5%;
  padding-left: 10%;
}

.botao_gerar_outro_usuario {
  margin-top: 5%;
  background-color: #7c2acd;
  color: white;
}

@media (max-width: 479px) {
  .card {
    width: 90%;
    height: 35%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
