.example-spacer {
  flex: 1 1 auto;
}

.conteudo {
  height: 100% !important;
}

.toolbar {
  height: 10%;
}

.sidenav-container {
  height: 90%;
}

.container-fluid2 {
  background-color: #7c2acd !important;
  height: 150%;
  width: 100%;
}

@media (max-width: 479px) {
  .container-fluid2 {
    background-color: #7c2acd !important;
    height: 170%;
    width: 100%;
  }
}
