.explicae_banner {
  height: 200px;
  margin-top: 5%;
}

.fileupload_banner {
  height: 150px;
  margin-top: 5%;
}

.content {
  color: white;
}

@media (max-width: 479px) {
  .fileupload_banner {
    width: 30%;
    height: 60%;
  }
}

@media (max-width: 479px) {
  .explicae_banner {
    width: 50%;
    height: 60%;
  }
}
